/**
Stylesheet for findologicxmlexport plugin
 */
.fl-plugin-findologicxmlexport-fieldset {
    margin-top: 5em;
}
.page-edit-link-a {
    color: transparent;
}
.page-edit-link-div {
    background-repeat: no-repeat;
    background-size:25px;
    width: 25px;
    height: 25px;
    color: transparent;
    font-size: 20px;
    margin-left: 16px;
    margin-top: 16px;
}